[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "==2.0.2"
"psycopg2" = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
