[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-heroku = "*"
"1f82eb5" = {path = "/Users/daniel2/Desktop/okthen/Pipfile"}


[dev-packages]

pytest = "*"
django = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
twine = "*"
