{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/datatables.min.css"/>    <!-- Compiled and minified CSS -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %}{% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% block sidenav %} {% endblock %}
    {% block header %} {% endblock %}

    <main>
          {% block content %}
          {% endblock content %}
    </main>

   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js'></script>

     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/datatables.min.js"></script>
    {# sidenav js init #}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sidenav').sidenav();
           if ($(".modal")[0]){
                $('.modal').modal();
            }
        });
    </script>
    {# Custom js #}
    {% block js %}{% endblock js %}
    {% if messages %}
    <script type="text/javascript">
      {% for message in messages %}
          <!--{% if message.level != 40 %}-->
            M.toast({html: '{{ message }}'})
          {% endif %}
      {% endfor %}
    </script>
    {% endif %}
  </body>
</html>
