{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block sidenav %}
    {% include 'sidenav.html' %}
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col s1"> </div>
    <div class="col s10">
    <h2> Proyecto {{ proyecto }} </h2>
    <hr>
    <div class="row valign-wrapper">
        <div class="col s6">
            <h4>Work Items</h4>
        </div>
        <div class="col s6 right-align">
             <div class="fixed-action-btn" >
                  <a class="btn-floating btn-large black modal-trigger" href="#agregar_work_item">
                    <i class="large material-icons">add</i>
                  </a>
             </div>
        </div>
    </div>
      <ul class="collapsible popout">
        {% for workitem in workitems %}
            <li>
              <div class="collapsible-header">
                     <i class="material-icons">arrow_drop_down</i>
                          {{ workitem }}
              </div>
              <div class="collapsible-body">
                    <div class="collection">
                        {% for task in workitem.task_set.all %}
                            <a href="{% url 'tasks:ver_task' task.id %}" class="row collection-item {% if task.estado == 0 %} red-text {% elif task.estado == 1%} yellow-text {% elif task.estado == 2%} blue-text {% else %} green-text{% endif %}">
                                <div class="col s12 l4 m4">
                                     {{ task }}
                                </div>
                                 <div class="col hide-on-small-only l4 m4 ">
                                    {{ task.get_estado_display }}
                                 </div>
                                <div class="col hide-on-small-only l4 m4">
                                    Quién lo está haciendo / ha hecho
                                </div>
                            </a>
                        {% endfor %}
                        <a href="{% url 'workitems:ver_workitem' workitem.id %}" class="collection-item black white-text">
                            <div class="valign-wrapper">
                                <i class="material-icons">add</i> Ver más
                            </div>
                        </a>
                    </div>
              </div>
            </li>
        {% endfor %}
      <li>
    </li>
      </ul>
    </div>
    <div class="col s1"> </div>
    </div>
    {% include 'modal_agregar_work_item.html' %}
{% endblock %}


{% block js %}
    <script>
         $(document).ready(function(){
            $('.collapsible').collapsible();
            var elem = document.querySelector('.fixed-action-btn');
            var instance = M.FloatingActionButton.init(elem, {
                direction: 'left'
            });

            $('.modal').modal();
        });
    </script>
{% endblock %}