{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block sidenav %}
    {% include 'sidenav.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s1"> </div>
        <div class="col s10">
        <div class="row valign-wrapper">
                <div class="col s1">
                      <a href="{% url 'proyectos:detalle_proyecto' workitem.proyecto.id %}" class="btn-floating waves-effect waves-light black"><i class="material-icons">arrow_back</i></a>
                </div>
                <div class="col s11">
                    <h5> Proyecto: {{ workitem.proyecto }}</h5>
                </div>
        </div>
        <h3> Work Item: {{ workitem }} </h3>
        <hr>
        <div class="row valign-wrapper">
            <div class="col s6">
                <h4>Tasks</h4>
            </div>
            <div class="col s6 right-align">
                <div class="fixed-action-btn" >
                  <a class="btn-floating btn-large black">
                    <i class="large material-icons">add</i>
                  </a>
                  <ul>
                      <li><a class="btn-floating grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Agregar defecto"><i class="material-icons">bug_report</i></a></li>
                      <li><a class="btn-floating blue-grey darken-4 tooltipped btn modal-trigger" href="#modal_task" data-position="bottom" data-delay="50" data-tooltip="Agregar task"><i class="material-icons">create</i></a></li>
                  </ul>
                </div>
            </div>
        </div>
         <div class="collection">
             {% for task in workitem.task_set.all %}
                <a href="{% url 'tasks:ver_task' task.id %}" class="row collection-item {% if task.estado == 0 %} red-text {% elif task.estado == 1%} yellow-text {% elif task.estado == 2%} blue-text {% else %} green-text{% endif %}">
                    <div class="col s4">
                        {{ task }}
                    </div>
                    <div class="col s4">
                        {{ task.get_estado_display }}
                    </div>
                    <div class="col s4">

                    </div>
                </a>
             {% endfor %}
        </div>
        <hr>
        <h4>Resumen</h4>

        </div>
        <div class="col s1"> </div>
    </div>

    <!--Modals-->
    {% include 'modal_task.html' %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip();
             var elem = document.querySelector('.fixed-action-btn');
             var instance = M.FloatingActionButton.init(elem, {
                direction: 'left'
             });

             //Modals
            $('.modal').modal();
        });
    </script>
{% endblock %}
