{% extends 'base.html' %}
{% block title %}
    {{ workitem }}
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block sidenav %}
    {% include 'sidenav.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s1"> </div>
        <div class="col s10">
        <div class="row valign-wrapper">
                <div class="col s1">
                      <a href="{% url 'proyectos:detalle_proyecto' workitem.proyecto.id %}" class="btn-floating waves-effect waves-light black"><i class="material-icons">arrow_back</i></a>
                </div>
                <div class="col s11">
                    <h5> Proyecto: {{ workitem.proyecto }}</h5>
                </div>
        </div>
        <h3> Work Item: {{ workitem }} </h3>
        <hr>
        <div class="row valign-wrapper">
            <div class="col s6">
                <h4>Tasks</h4>
            </div>
            <div class="col s6 right-align">
                <div class="fixed-action-btn" >
                  <a class="btn-floating btn-large black">
                    <i class="large material-icons">add</i>
                  </a>
                  <ul>
                      <li><a class="btn-floating grey lighten-1 tooltipped modal-trigger"  href="#modal_defecto"data-position="bottom" data-delay="50" data-tooltip="Agregar defecto"><i class="material-icons">bug_report</i></a></li>
                      <li><a class="btn-floating blue-grey darken-4 tooltipped btn modal-trigger" href="#modal_task" data-position="bottom" data-delay="50" data-tooltip="Agregar task"><i class="material-icons">create</i></a></li>
                  </ul>
                </div>
            </div>
        </div>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Task </th>
                    <th>Estado</th>
                    <th>Tiempo planeado</th>
                    <th>Núm. defectos</th>
                    <th>Tiempo def.</th>
                    <th>Tiempo s/ def.</th>
                    <th>Tiempo c/ def.</th>
                    <th>Error </th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for task in workitem.obtener_tasks_sin_defectos %}
                    <tr>
                        <td><a href="{% url 'tasks:ver_task' task.id %}" class="row collection-item {% if task.estado == 0 %} red-text {% elif task.estado == 1%} yellow-text {% elif task.estado == 2%} blue-text {% else %} green-text{% endif %}">{{ task }}</a></td>
                        <td> {{ task.get_estado_display }}</td>
                        <td>{{ task.tiempo_estimado }}</td>
                        <td>{{ task.contar_defectos }}</td>
                        <td> {{ task.obtener_tiempo_defectos }}</td>
                        <td>{{ task.obtener_tiempo }}</td>
                        <td>{{ task.obtener_tiempo_total }}</td>
                        <td>{{ task.obtener_error}}</td>
                        <td class="center">
                            <a href="#modal_eliminar" class="modal-trigger">
                                <i class="material-icons borrar" id="{{task.id}}" onclick="eliminar_task({{workitem.id}},{{task.id}})" data-task="{{task}}">delete</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="row">
            <div class="col s6"><h4> Defectos </h4></div>
        </div>
        <div class="collection">
             {% for task in workitem.task_set.all %}
                 {% if task.informacion_defecto %}
                    <a href="{% url 'tasks:ver_task' task.id %}" class="row collection-item {% if task.estado == 0 %} red-text {% elif task.estado == 1%} yellow-text {% elif task.estado == 2%} blue-text {% else %} green-text{% endif %}">
                        <div class="col s4">
                            {{ task }}
                        </div>
                        <div class="col s4">
                            {{ task.get_estado_display }}
                        </div>
                        <div class="col s4">
                        </div>
                    </a>
                 {% endif %}
             {% endfor %}
        </div>

        <h4>Resumen</h4>
        </div>
        <div class="col s1"> </div>
    </div>

    <div class="modal" id="modal_eliminar">
        <div class="modal-content">
            <h4 class="center">Eliminar Task</h4>
            <br>
            <div class="modal-body">
                <div class="center">
                    <i class="material-icons medium">delete</i>
                    <br>
                    <br>
                    <div id="contenido"></div>
                </div>
            </div>

            <div class="modal-footer center" id="botones_modal">

            </div>
        </div>
    </div>

    <!--Modals-->
    {% include 'modal_task.html' %}
    {% include 'defecto_task_modal.html' %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
           $('#table_id').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', 'pdf'
                ]
           } );
            $('.tooltipped').tooltip();
             var elem = document.querySelector('.fixed-action-btn');
             var instance = M.FloatingActionButton.init(elem, {
                direction: 'left'
             });

             //Modals
            $('.modal').modal();
            $('#id_workitem').val({{ workitem.id }});
            var workitem = $('#id_workitem').val();
           $.ajax({
               url:'{% url 'workitems:obtener_tasks_work_item' %}',
               data:{'workitem': workitem},
               success: function(response){
                   $('#id_task').html(response);
                   $('#id_task').formSelect();
               }
           });
            $('#id_task').formSelect();
             $('select').formSelect();
            $('#id_workitem').formSelect();
        });

        $('#id_workitem').change(function(){
           var workitem = $('#id_workitem').val();
           $.ajax({
               url:'{% url 'workitems:obtener_tasks_work_item' %}',
               data:{'workitem': workitem},
               success: function(response){
                   $('#id_task').html(response);
                   $('#id_task').formSelect();
               }
           });
       });

       function eliminar_task(item,id){
           var task = $('#'+id).data('task')
           var contenido = '<h5>¿Estás seguro de eliminar la task <b>'+task+'</b>?</h5><br><br>';
           var botones = '<div class="text-center"><div class="row center"><div class="col s2 m2"></div><a class="modal-action modal-close waves-effect waves-light col s3 m3 btn btn-large grey lighten-1">Cancelar <i class="material-icons left">arrow_back</i></a><div class="col s2 m2"></div><a href="/workitems/elimina_task/'+item+'/'+id+'" class="waves-effect waves-light col s3 m3 btn btn-large red lighten-1">Eliminar <i class="material-icons left">delete</i></a><div class="col s2 m2"></div></div></div>';
           $("#contenido").html(contenido);
           $("#botones_modal").html(botones);
       }

    </script>
{% endblock %}
